/**
 * File: Style.css
 * Description : Contains all necessary styling for the WPLMS
 * Author: Mr.Vibe 
 * Credits: www.VibeThemes.com
 * Project: WPLMS
 * version 1.9.9
 **/
/*========================================================================*/
/*   TABLE OF CONTENT
/*========================================================================*/
/*
/*		01. DEFAULT STYLING
/*		02. GENERAL STYLING
/*		03. LOGO
/*		04. BUTTONS
/*		05. SLIDERS	
/*      06. NAVIGATION
/*		07. HEADER
/*		08. CONTENT
/*		09. FOOTER
/*		10. HOME
/*		11. ABOUT
/*      12. GRID, PARALLAX & FEATURED EFFECT
/*		13. SERVICES
/*		14. PORTFOLIO
/*		15. PORTFOLIO GRID
/*		16. BLOG
/*      17. SINGLE PORTFOLIO
/*		18. SINGLE
/*		19. COMMENTS
/*		20. MISCELLANEOUS
/*		21. AD-HOC Fixes
/*		22. RESPONSIVE FIXES
/*
/*========================================================================*/
 

/*========================================================================*/
/*   01. DEFAULT STYLING
/*========================================================================*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, address, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
-webkit-font-smoothing: antialiased;
}

ul,ol{
	list-style:none;
}

body {
  border: none;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 100%;
  overflow-x: hidden;
	background-color: #F9F9F9;
	color: #313b3d;
	font-family: 'Open Sans', 'Helvetica Neue',sans-serif;
	-webkit-font-smoothing: antialiased;
	font-weight: 400;
	font-size: 14px;
}

*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
	z-index:0;
}

textarea:focus,button:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-    input:focus {
    border-color: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    outline: none;
}
input[type="radio"]:hover{
	-webkit-appearance: radio;
}
ul,ol{
	margin:0;
	padding:0;
	list-style: none;
}
ins{text-decoration:none;}
label{
	font-weight:600;
}
iframe{max-width:100% !important;}
#wpadminbar{
	-webkit-transform: translateZ(0);
}
/*========================================================================*/
/*   02. GENERAL STYLING
/*========================================================================*/


h1,h2,h3,h4,h5,h6{
	line-height:1.35em;
	 font-family: 'Open Sans', sans-serif;
	color: #282828;
}
h1{
	font-size: 32px;
}
h2{
	font-size: 28px;

}
h3{
	font-size: 24px;

}
h4{
	font-size: 20px;
}
h5{
	font-size: 18px;
}
h6{
	font-size: 16px;
}

small{
	font-size: 75%;
}

a,
a:hover,
a:focus,
a:active{
	text-decoration:none;
	outline:none;
	-webkit-appearance:none;
}
img,
.image{
	max-width: 100%;
	height:auto;
}
h3+p,p+h3,
p+p,
ul+p,
p+ul,ul+ol,ol+ul,
blockquote+p,
p+blockquote{
	margin-top: 10px;
}
.tab-pane+h3{margin-top:0;}

blockquote p{
	font-weight:400;
}

.alignleft{
	float:left;
	margin: 0 15px 15px 0;
}

.alignright{
	float:right;
	margin: 0 0 15px 15px;
}

.aligncenter{
	display: block;
	margin: 0 auto;
}

.form_field,
.input-text,.edd-input,
.ninja-forms-field,
.wpcf7 input.wpcf7-text,
#s{
	padding: 6px 20px;
	border: 1px solid #EFEFEF;
	color: #888;
	width:100%;
}
.input{
	padding: 5px 10px;
	border: 1px solid #EFEFEF;
	color: #888;
}
select{
  padding: 2px;
  max-width:100%;
  line-height: 28px;
  height: 28px;
  vertical-align: middle;
  border: 1px solid #ddd;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
  background-color: #fff;
  color: #32373c;
  outline: 0;
  -webkit-transition: .05s border-color ease-in-out;
  transition: .05s border-color ease-in-out;
}

.widget select{
	width:100%;
}
footer .form_field, 
footer .input-text, 
footer .ninja-forms-field, 
footer .wpcf7 input.wpcf7-text, 
footer #s,
footer .chosen-container.chosen-with-drop .chosen-drop,
footer .chosen-container-active.chosen-with-drop .chosen-single, 
footer .chosen-container-single .chosen-single{
	background:#313b3d;
	border-color:#232b2d;
	color:#FFF; width:100%;
	margin-bottom:8px;
}

.input-text.highlight{border-color:#cf4f2f;}
footer .chosen-container{width: 100% !important;}
.form_field:focus{
	color: #444;
}

.form_field.error_input{
   border-color: #eb3f22;
}
input+input,
input+textarea{
	margin-top:10px;
}
input[type='submit'].form_field,
input[type='submit'].ninja-forms-field,
#searchsubmit{
	padding:10px 24px;
	font-size:11px;
	font-weight:600;
	text-transform: uppercase;
	background-color:#F16645;
	background-image:url(../images/button.png)/*tpa=http://themes.vibethemes.com/wplms/skins/modern/wp-content/themes/wplms/images/button.png*/;
	border:none;
	color:#FFF;
	border-radius:2px;
}

a{
	font-weight:400;
}

a:hover{
	color: #78C8Ce;
	text-decoration:none;
	  webkit-transition: all 0.2s ease-in-out;
	  -moz-transition: all 0.2s ease-in-out;
	  -o-transition: all 0.2s ease-in-out;
	  transition: all 0.2s ease-in-out;
	
}
.reply a,
.link,.ahref{
	color: #78C8Ce;
	text-decoration:none;
	font-weight: 600;
	font-size:11px;
	text-transform: uppercase;
	webkit-transition: all 0.2s ease-in-out;
	  -moz-transition: all 0.2s ease-in-out;
	  -o-transition: all 0.2s ease-in-out;
	  transition: all 0.2s ease-in-out;

}
.showhide_indetails.link{font-size:11px;}
.link:after{
	content:'';
	padding-left:2px;
	webkit-transition: all 0.2s ease-in-out;
	  -moz-transition: all 0.2s ease-in-out;
	  -o-transition: all 0.2s ease-in-out;
	  transition: all 0.2s ease-in-out;

}
.link:hover:after{
	content:'+';
}

.fitvids{
	margin-bottom:30px;
}




#main{
	z-index:1;
	background:#FFF;
}

.content ul:not([class]){
	list-style: disc outside none;
	margin-left:15px;
}
.content .active ul:not([class]){
	list-style: none;
	margin-left:0;
}

.content ol:not([class]){
	list-style: decimal outside none;
	margin-left:15px;
}
.assignment_students > li ul,
#content .content ol,/*Main Content*/
#content .content ul,/*Units in start-course frame*/
.main_unit_content ul,
.small_desc ul,.wpb_text_column ul,
.bbpress #content .content .bbp-reply-content ol, /*Forums*/
.bbpress #content .content .bbp-reply-content ul{
	list-style: disc outside none;
	margin-left:15px;
}
#content .content ul.grid,#content .content ul.woocommerce-error,
#content .content ul.vibe_filterable{
	margin-left:0;
}
.assignment_students > li ol,
#content .content ol,
.wpb_text_column ol,
.main_unit_content ol{
	list-style: decimal outside none;
	margin-left:15px;
}

.content ul > li > ul,
.content ol > li > ol{
	padding-left:30px;
}

.single_unit_content,
.single-unit-content .wp-video{position: relative;}

.unit_content .commentmetadata{
	float:right;
	margin: 0 0 0 20px;
}

.unit_content .commentlist li {
  border-bottom: 1px solid #EFEFEF;
  display: inline-block;
  width: 100%;
  padding: 15px 0;
}

.unit_content .commentlist li ul.children li{
	border-bottom:none;
	border-top: 1px solid #EFEFEF;
}
.unit_content .commentlist li .reply{
	top:auto;
	bottom:0;
	cursor: pointer;
	font-size:11px;
}

.unit_content .commentlist li .reply a:hover:after{content:'';}
.unit_content .commentlist li .vcard img{border-radius:50%;margin-bottom:20px;}
.unit_content .load_more_comments,
.unit_content .add_comment{
	font-size:11px;
	font-weight:600;
	text-transform: uppercase;
	cursor: pointer;
}
.unit_content #discussion.loading{
	opacity:0.4;
}
.unit_content .button{cursor:pointer;padding:4px 10px;}
.unit_content .add_unit_comment_text.hide{
	display: none;
	webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	
}
/*========================================================================*/
/*   04. CHOSEN CUSTOMIZATION
/*========================================================================*/

.chosen-container{
  min-width:160px;
}

.chosen-container-active.chosen-with-drop .chosen-single, 
.chosen-container-single .chosen-single{
	background:#FFF;
	border:1px solid #EFEFEF;
	border-radius:2px;
	box-shadow: none;
	height: 40px;
	padding: 6px 10px;
}

.chosen-container.chosen-with-drop .chosen-drop{
	border-radius:0 0 2px 2px;
	border-color:#EFEFEF;
}
.chosen-container .chosen-results li.highlighted{
	background:#78c8c9;
}

.chosen-container-single .chosen-single div b{
	background-position: 0 10px;
}

.chosen-container-active.chosen-with-drop .chosen-single div b {
	background-position: -18px 10px;
}
/*========================================================================*/
/*   04. BUTTONS
/*========================================================================*/

.button{
	padding:10px 24px;
    display: inline-block;
    margin:10px 10px 10px 0;
    font-size:12px;
    background-color: #78C8Ce;
    border:1px solid #78C8Ce;
    background-image:url(../images/button.png)/*tpa=http://themes.vibethemes.com/wplms/skins/modern/wp-content/themes/wplms/images/button.png*/;
    color: #FFF;
    border-radius:2px;
    outline: none;
    font-weight:600;
    letter-spacing: 0.1em;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	z-index: 1;
}

.button.blue{
	background-color:#78c8ce;
}

.button.green{
	background-color:#70c989;
}

.button.primary{
	background-color: #fa7252;
    border-color: #fa7252;
}

.button.full{
	width:100%;
	text-align: center;
}

.button+.button{
	margin-left:10px;
}
.button.full+.button{
	margin:10px 0;
}
.button.full+.button.full{
	margin-top:0;
}
.button.small{
	font-size:12px;
	padding:8px 16px;
	font-weight:600;
	text-transform: uppercase;
	color:#FFF;
}

.button:hover{
	color:#FFF;
	background-image:none;
}

/* === Other Classes ====*/

.clear{
	clear: both;
}

.center{
	text-align:center;
}

.left{
	float: left;
}

.right{
	float: right;
}


.first{
	clear:both;
}

 textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus {
    outline:0px !important;
    -webkit-appearance:none;
        }
/*========================================================================*/
/*   05. FLEXSLIDERS
/*========================================================================*/

.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}


/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

.flex-control-nav {
	position:absolute;
	bottom: -20px;
	text-align:center;
	width: 100%;
}

 .flex-control-nav li{
 	margin: 0 3px;
 	display: inline-block;
 }
 .flex-control-nav li a{
 	width: 30px;
 	height: 5px;
 	background: #FFF;
 	text-indent:-9999px;
 	display:block;
 	opacity: 0.4;
 }

 .flex-control-nav li a.flex-active{
 opacity: 1;
 }
 
 
 .flex-direction-nav .flex-prev:hover,
 .flex-direction-nav .flex-next:hover{
 	opacity: 1;
 } 
 
 .heading{
	margin:20px 0;
 }
 .heading a{
	font-size: 14px;
	text-transform: uppercase;
	float: right;
}
.heading span>a{
	font-size: 11px;
	font-weight: 600;
	color: #bbb;
}
.noheading .flex-direction-nav{
	position: absolute;
	bottom: 20px;
	left: 50%;
}
/*
.radio {
list-style: none !important;
}
.radio input[type="radio"] {
margin: 0 10px;
float: none;
}

/* ------------------------------------------------------------------------ */
/* 03. SOCIAL ICONS
/* ------------------------------------------------------------------------ */

/*==== Social Icons ====*/
ul.socialicons{
	float: left;
	margin: -5px 5px 0 !important;
	padding: 0;
	list-style:none !important;
	display: inline-block;
}
ul.socialicons li{
	float: left;
	width:auto !important;
	border:none !important;
	margin: 0 0 0 15px;
	font-size: 20px;
    line-height:1px;
}

ul.socialicons.round li a{
    border-radius: 20px;
    padding: 3px 6px 1px;
    color: #FFF;line-height: 1em;
    background: rgba(0,0,0,0.2);
    font-size: 20px;
}

ul.socialicons.square li a{
    padding: 3px 6px 1px;
    color: #FFF;
    line-height: 1em;
    background:rgba(0,0,0,0.2);
}
ul.socialicons.round li,
ul.socialicons.square li{
	margin: 0 0 0 5px;
}

ul.socialicons li:first-child{
    margin:0;
}

ul.socialicons.social li a:hover,
ul.socialicons.color li a:hover{
	background:#78c8c9;
}
ul.socialicons.color li a:hover,
ul.socialicons.color li a{
    color:#FFFFFF !important;
}


/*===Social Icons Colored ====*/

ul.socialicons.color li a.twitter{
    background: #2bb5dc !important;
}
ul.socialicons.color li a.google.plus{
    background: #DD4B39 !important;
}

ul.socialicons.color li a.facebook{
    background: #3B5998 !important;
}
ul.socialicons.color li a.pinterest{
    background: #d04e4e !important;
}
ul.socialicons.color li a.gplus{
    background: #C63D2D !important;
}
ul.socialicons.color li a.tumblr{
    background: #345775 !important;
}
ul.socialicons.color li a.github{
    background: #4183c4 !important;
}

ul.socialicons.color li a.blogger{
    background:  #FF8833 !important;
}
ul.socialicons.color li a.dribbble{
    background:#f90f63 !important;
}
ul.socialicons.color li a.like{
background:rgb(225, 111, 75);
color:#FFF !important;
font-weight:600;
}
ul.socialicons.color li a.digg{
background:#356aa0;
}
ul.socialicons.color li a.flickr{
    background:  #FE0883 !important;
}
ul.socialicons.color li a.foursquare{
    background:  #0072B1 !important;
}
ul.socialicons.color li a.instagram{
    background: #4E433C !important;
}
ul.socialicons.color li a.linkedin{
    background: #4875B4 !important;
}
ul.socialicons.color li a.reddit{
    background: #CEE3F8 !important;
}
ul.socialicons.color li a.vimeo{
    background: #44BBFF !important;
}
ul.socialicons.color li a.youtube,
ul.socialicons.color li a.fontawesome-webfont-5{
    background: #C4302B !important;
}
ul.socialicons.color li a.stumbleupon{
    background: #EB4924 !important;
}
ul.socialicons.color li a.rss{
    background: #FA9B39 !important;
}


/*========================================================================*/
/*   06. BLOCKS
/*========================================================================*/
	
.global,
.pusher{
	height: auto;
	display:inline-block;
	width: 100%;
}

.global{
	position: relative;
}

.pusher{
         z-index:99;
	 background:#F9F9F9;
	 width: 100%;
	 height: auto;
	 display:inline-block;
}

.pagesidebar {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 100;
	visibility: hidden;
	width: 220px;
	height: 100%;
	background:#0e262e;
	color: #EEE;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.pagesidebar li>ul{
	display: none;
}
.pagesidebar .menu-item-has-children{
	position: relative;
}
.pagesidebar .menu-item-has-children:after{
	content:"\e05d";
	font-family:'fonticon';
	position: absolute;
	top:15px;
	right:10px;
	color:rgba(255,255,255,0.2);
}
.pagesidebar .menu-item-has-children.active:after{
	content:"\e092";
}
.pagesidebar .left.menu-item{float:none;}
.open .menu::after {
	position: fixed;
	top: 0;
	right: 0;
	width: 60px;
	height: 60px;
        display:block;
	background: transparent;
	content: '';
        cursor:pointer;
}

#main{
	z-index:1;
	background:#FFF;
}

.radio {
list-style: none !important;
}
.radio input[type="radio"] {
margin: 0 10px;
float: none;
}
.visibility-toggle-link,.field-visibility-settings-close{
	font-size:11px;
	color:#bbb;font-weight:600;text-transform: uppercase;
}
.field-visibility-settings-close{color:#CF4F2F;}
/*========================================================================*/
/*   06. HEADER & NAVIGATION
/*========================================================================*/

header{
	display: inline-block;
	width:100%;
	background:#313B3D;
	padding:0;
	margin:0 0 -5px 0;
	z-index: 99;
}

#headertop{
	background:#232b2d;
	padding:8px 0;
	font-size:11px;
	text-transform: uppercase;
	color:rgba(255,255,255,0.6);
}

#headertop .homeicon{display: none;}
#headertop.fixed{
	position: fixed;
	width:100%;
	top:0;
	left:0;
	z-index:9999;
	-webkit-transition: all 0.5s;
	-webkit-transform: translateZ(0); 
	transition: all 0.5s;
}
#headertop.fixed .homeicon{display: block; float:left;}
#headertop.fixed{  
 -webkit-transform: translateZ(0); 
}
#headertop .homeicon img{
	max-height: 20px;
}
#headertop li{
	float:left;
	margin-left:10px;
	padding-left:10px;
	border-left:1px solid #576972;
}
#headertop li:first-child{
	border:none;
}
#headertop a{
	color:rgba(255,255,255,0.6);
}
#headertop #username a{
	word-break: break-all;
}
#headertop .topmenu{
	float:right;
}

#headertop.fixed + header{
	margin-top:36px;
}

header #searchdiv{
	float:right;
	color:#576972;
	font-size:16px;
	padding:28px 0 0;
}
header #searchicon{
	float: right;
	color: rgba(255,255,255,0.6);
	font-size: 20px;
	padding: 25px 0;
	cursor: pointer;
}
header #searchdiv{display: none;z-index: 999;}
header #searchform{
	position: absolute;
	width: 100%;
	opacity: 0;
	min-width: 200px;
	top: 100%;
	right: 0;
	border-radius:2px;
	background: #48575a;
	padding: 15px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
header #searchdiv.active{display: block !important;}
header #searchdiv.active #searchform{
	-webkit-animation: slideDown 0.2s ease-in-out;
    -moz-animation:  slideDown 0.2s ease-in-out;
    -o-animation:  slideDown 0.2s ease-in-out;
    animation:  slideDown 0.2s ease-in-out;
    opacity: 1;
    z-index: 91;
}

header #searchform input[type="text"]{
	border: none;
	background:#232b2d;
	font-size: 20px;
	padding: 12px;
	width: 100%;
	border-radius:2px;
}
#searchform label{display: none;}
header #searchform label,
header #searchform input[type="submit"]{display: none;}
header #searchform:after{
	content: '';
	position: absolute;
	top: -20px;
	height: 15px;
	width: 15px;
	right: 10px;
	bottom: 0px;
	border: 10px solid;
	border-color: transparent transparent #48575a transparent;
}

nav{
	 /* Adjusting for Logo */
	float:right;
}


nav .menu li{
	float:left;
}

nav .menu li.active a{
	color:#FFF;
	position: relative;
}
/*
.menu li.active a:after{
	content:'';
	position: absolute;
	left:50%;
	margin-left:-10px;
	bottom:0px;
	border:10px solid;
	border-color: transparent transparent #FFF transparent;
} */
nav .menu li:hover > a{
	opacity:1;
}
nav .sub-menu li:hover > a{
	opacity: 1;
}

nav .menu li a{
	font-family: 'Raleway',sans-serif;
	font-weight:600;
	margin:0 10px;
	padding: 30px 6px;
	display: inline-block;
	font-size: 13px;
	text-transform:uppercase;
	color: #FFF;
	opacity: 0.8;
	position: relative;
}
nav .menu li.current-menu-item a{
	color:#FFF;
	opacity: 1;
}
nav .menu li.iconstyle{
	width:88px;
	float:left;
}
nav .menu li.hasmenu{
	position: relative;
}
nav .sub-menu{
	display: none;
}

nav .sub-menu{
	position:absolute;
	opacity: 0;
	top:100%;
	left:0;
	width:100%;
	z-index: 99;
	display: none;
	background:#48575a;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
nav .hasmenu .sub-menu{
	width:176px;
}

nav .sub-menu li > .sub-menu{
	top:0;
	left:100%;
}
nav .sub-menu li.left > .sub-menu{
	top:0;
	left:-100%;
}

nav .menu-item-has-children:hover > a:before{
	content: '';
	position: absolute;
	bottom: -20px;
	height: 15px;
	width: 15px;
	left: 20px;
	bottom: 0px;
	border: 10px solid;
	border-color: transparent transparent #48575a transparent;
}

nav .sub-menu li > .sub-menu:before{
	content: '';
	border: none;
}

nav .sub-menu li{
	display: block;
	position: relative;
	width:100%;
}

nav .sub-menu li a{
	color:#FFF;
	opacity: 0.8;
	display: block;
	font-size:12px;
	border-bottom:1px dotted rgba(255,255,255,0.3);
	padding:10px;
}
nav .sub-menu > li:last-child a{
	border-bottom:none;
}
nav .sub-menu li a:hover{
	opacity: 1;
}

nav .menu li:hover > .sub-menu{
	display: block;
	opacity: 1;
	-webkit-transition: fadeInFromNone 1s ease-in-out;
  	-moz-transition: fadeInFromNone 1s ease-in-out;
  	-o-transition: fadeInFromNone 1s ease-in-out;
  	transition: fadeInFromNone 1s ease-in-out;
}

nav .menu li > .sub-menu{
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
}

nav .menu li.megadrop > .sub-menu{
	width:100%;
}

nav .menu li.iconstyle > .sub-menu{
	width: 360px;
	margin-left:-50%;
}

nav .menu li.iconstyle > .sub-menu li{
	width:120px;
	float:left;
	text-align: center;
	font-size:12px;
}
nav .menu li.iconstyle li i{
	display: block;
	font-size:48px;
}

.menu-sidebar{
	padding:0 10px;
	display: inline-block;
	width:100%;
}


.menu-sidebar.column5 .widget{
	width:20%;
	float:left;

}

.menu-sidebar.column4 .widget{
	width:25%;
	float:left;
}

.menu-sidebar.column3 .widget{
	width:33%;
	float:left;
}

.menu-sidebar.column2 .widget{
	width:50%;
	float:left;
}

.menu-sidebar .widget .inside{
	padding:20px 15px;
}

.menu-sidebar .widget{
	border-left: 1px solid rgba(255,255,255,0.1);
}
.megadrop .menu-sidebar{
	padding:0 0 10px;
}
.megadrop .menu-sidebar .widget ul li{
	border:none;
	padding:0;
}
.megadrop .menu-sidebar .widget_course_list li h6{
	color:#FFF;
}
.megadrop .menu-sidebar .widget_course_list li img{
	border-color:rgba(0,0,0,0.2);
}
.megadrop .menu-sidebar {color:rgba(255,255,255,0.6);}
.megadrop .menu-sidebar .widget ul li a{
	padding: 4px 0;
	margin:0;font-weight:600;
	font-size:12px;
	color: rgba(255,255,255,0.8);
	border-bottom:1px dotted rgba(255,255,255,0.1);
}
.megadrop .menu-sidebar .widget ul li a:hover{color:#FFF;}
.megadrop .menu-sidebar .widget + .widget{margin:0;}
.megadrop .menu-sidebar .widgettitle{
	font-size:14px;
	color:#FFF;
	margin:0 ;
	font-weight:600;
	padding-bottom:10px;
	text-transform: uppercase;
	border-bottom:1px solid rgba(255,255,255,0.1);
}
.menu-sidebar.column5 .widget:nth-child(5n+1){
	clear:both;
	border-left:none;
}

.menu-sidebar.column4 .widget:nth-child(4n+1){
	clear:both;
	border-left:none;
}

.menu-sidebar.column3 .widget:nth-child(3n+1){
	clear:both;
	border-left:none;
}

.menu-sidebar.column2 .widget:nth-child(2n+1){
	clear:both;
	border-left:none;
}

/* === END EFFECT === */ 

button {
  display: inline-block;
  margin: 0 1em;
  border: none;
  background: none;
}
button span {
  display: block;
}


#trigger{
	cursor:pointer;
	display: none;
	position:absolute;
	top:40px;
	right:40px;
}

#trigger{
	padding:0;
	margin:0;
	border:none;
	z-index: 99;
}
.open #trigger{
	z-index: 0;
}

#trigger {
cursor: pointer;
user-select: none;
background:transparent;
}


#trigger .lines {
  display: inline-block;
  position: relative;	
  width: 32px;
  height: 4px;
  background: #FFF;
  color: #FFF;
  /* Not in use when the colors are specified below */
  transition: 0.3s;
}



.lines:before, .lines:after {
display: inline-block;
width: 32px;
height: 4px;
background: #FFF;
transition: 0.3s;
position: absolute;
left: 0;
content: '';
-webkit-transform-origin: 6px center;
transform-origin: 6px center;
}
.lines:after {
	top: -8px;
}

.lines:before {
	top: 8px;
}
.open .lines{
	background:transparent !important;
}

.open .lines:before, 
.open .lines:after {
-webkit-transform-origin: 50% 50%;
transform-origin: 50% 50%;
top: 0;
width: 32px;
}

.open .lines:before {
	-webkit-transform: rotate3d(0, 0, 1, 45deg);
	transform: rotate3d(0, 0, 1, 45deg);
}
.open .lines:after {
	-webkit-transform: rotate3d(0, 0, 1, -45deg);
	transform: rotate3d(0, 0, 1, -45deg);
}


/* content style */


.pusher {
	position: relative;
	left: 0;
	width: 100%;
	display:block;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.pusher::after{
    position: absolute;
top: 0;
right: 0;
width: 0;
height: 0;
content: '';
opacity: 0;
over-y:hidden;
-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}
.open .pusher::after {
	width: 100%;
        height:100%;
        opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

/* Effect 2: Reveal */
.open .pusher {
	-webkit-transform: translate3d(-220px, 0, 0);
	transform: translate3d(-220px, 0, 0);
}


.pagesidebar {
		z-index: 1;
        color:#eee;
}

.open .pagesidebar {
	visibility: visible;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	box-shadow: inset 1px 0 0px rgba(0,0,0,0.1);
        overflow-y:auto;
}

.pagesidebar::after {
	display: none;
}


.pagesidebar .widget li > a{
    padding:4px 0;
    display: inline-block;
}
.col-md-3 .widget{position: relative;}

h2#sidelogo{
	text-align: center;
	max-height:32px;
	margin-bottom:30px;
}

h2#sidelogo img{
	display: inline-block;
	max-height:32px;
	opacity:0.2;
}
h2#sidelogo:hover img{
	opacity:1;
}

.sidemenu{
	width:100%;
	padding:0;
	margin:0;
}
.sidemenu li{clear:both;}
.sidemenu li a{
	padding:15px 0;
	display:block;
	text-align: center;
	color:#FFF;
	opacity: 0.8;
	border-top:1px solid rgba(0,0,0,0.1);
}
.sidemenu li.menu-item-has-children > a{
	margin-right:30px;
}
.sidemenu li:last-child a{
	border-bottom:1px solid rgba(0,0,0,0.1);
}
.sidemenu li.active a,
.sidemenu li a:hover{
	opacity: 1;
	background:#12333e;
}

/*========================================================================*/
/*   03. LOGO
/*========================================================================*/


#logo{
	margin:6px 0 0;
	padding:0;
	webkit-transition: all 0.6s ease-in-out;
	  -moz-transition: all 0.6s ease-in-out;
	  -o-transition: all 0.6s ease-in-out;
	  transition: all 0.6s ease-in-out;
}

#logo img{
		max-height:48px;	
		width:auto;
}

#bpavatar+ul{
	position: relative;
	min-height: 102px;
}

#vibe_bp_login li#admin_panel_icon{
	position: absolute;
	bottom: 0;
	font-size: 16px;
	right: 0;
	text-align: right;
}
#vibe_bp_login li#admin_panel_icon i{
	padding: 4px 8px;
	line-height: 0;
}
/*========================================================================*/
/*   03. NOTIFICATION
/*========================================================================*/
#footernotification,
#headernotification{
	background:  #78C8Ce;
}

/*========================================================================*/
/*   03. SLIDER
/*========================================================================*/

#slider{
	height:480px;
	margin-top:-5px;
	display: block;
	width:100%;
	background:url(../../../../another-post-with-everything-in-it/index.htm)/*tpa=http://themes.vibethemes.com/wplms/skins/modern/wp-content/themes/wplms/images/slide1.jpg*/ 50% 100px;
	background-attachment: fixed;
}

/*========================================================================*/
/*   03. FOOTER
/*========================================================================*/
footer{
	background:#313B3D;
	position: relative;
	margin-top:30px;
	padding:30px 0;
	font-size:14px;
	color:rgba(255,255,255,0.6);
}

footer .item-list li{
	clear:both;
	margin:5px 0;
}
footer .item-avatar{
	float: left;
	max-width: 48px;
	border-radius: 2px;
	margin-right: 10px;
}
#footernotification,
#headernotification{
	background:#78C8Ce;
	padding:15px 0;
	font-size:16px;
	color:#FFF;
	font-weight: 600;
}

#footernotification .close,
#headernotification .close{
	float:right;
	font-size:24px;
	opacity: 0.6;
	color:#FFF;
	cursor:pointer;
}

#footernotification .close:hover,
#headernotification .close:hover{
	opacity:1;
}

#footernotification h2,
#footernotification h3,
#footernotification h4,
#footernotification h5,
#footernotification h6,
#footernotification p,
#headernotification h2,
#headernotification h3,
#headernotification h4,
#headernotification h5,
#headernotification h6,
#headernotification p{
	margin:0;
	padding:0;
	color:#FFF;
	font-weight:600;
}
.footerbottom{
	margin-top:30px;
	padding:30px 0 0;
	border-top:1px solid rgba(255,255,255,0.1);
}

#footerbottom{
	background:#232b2d;
	padding:30px 0 20px;
	color:rgba(255,255,255,0.6);
	font-size: 11px;
	text-transform: uppercase;
}
#footerbottom a{
	color:rgba(255,255,255,0.6);
}

#footerlogo{
	max-width:48px;
	float:left;
	margin:-15px 10px 0 0;
	padding:0;
	opacity: 0.6;
}
#footerlogo:hover{
	opacity: 1;
}
#footer_social_icons,
#footermenu{float:right;}
#footer_social_icons .social li,
.footermenu li{
	float:left;
	margin-left:15px;
}

#footer_social_icons .socialicons{font-size:20px; line-height:1;}
#footer_social_icons .socialicons a{opacity:0.8;}
#footer_social_icons .socialicons a:hover{opacity:1;}
.footertitle,
footer h4{
	color:#FFF;
	font-size: 14px;
text-transform: uppercase;
font-weight: 600;
}

.quick-flickr-item a{
	max-width: 64px;
	border: 2px solid rgba(0,0,0,0.2);
	float: left;
	margin: 0 10px 10px 0;
}
.quick-flickr-item a:hover{
border-color:#78c8c9;
}
.footerwidget .postsmall .post_title a{
	font-size:14px;
	text-transform: none;
}

.footerwidget .vibeposts li{
	clear:both;
}

.footerwidget .tagcloud a{
background:#232b2d;
}

.twitter_item > p{
	background: rgba(230,230,230,0.2);
	padding: 20px;
	border-radius: 2px;
}
.twitter_item i{
	font-size:32px;
}

.twitter_item p:after{
	content: '';
	position: absolute;
	bottom: 16px;
	left: 38px;
	border: 20px solid;
	border-color: rgba(230,230,230,0.2) transparent transparent transparent;
}
.footerwidget > ul li{
	position: relative;
	clear:both;
}
.footerwidget ul li a{
  padding:4px 0;
  display: block;
  color:rgba(255,255,255,0.6);
}
.footerwidget ul.slides li a{padding:0;}
.footerwidget .avatar-block .item-avatar,
.widget .avatar-block .item-avatar{
	float: left;
	max-width:52px;
	margin: 4px 4px 0 0;
}

.footerwidget .widget_course_list li img{
	border-color:rgba(0,0,0,0.2);
}
.footerwidget .widget_course_list li h6{
	color:#FFF;
	color:rgba(255,255,255,0.8);
}
.footerwidget .widget_course_list li h6 span{
	color:rgba(255,255,255,0.4);
}
.footerwidget .avatar-block .item-avatar img,
.widget .avatar-block .item-avatar img{
	border-radius:50%;
	border: 2px solid rgba(0,0,0,0.1);
}
.widget .avatar-block .item-avatar:hover img,
.footerwidget .avatar-block .item-avatar:hover img{
	border-color:#78C8Ce;
}
.footermenu li a{
	color:rgba(255,255,255,0.6);
	font-size:11px;
	font-weight:600;
	text-transform: uppercase;
	 font-family: 'Raleway','Open Sans', sans-serif;
}
.footerwidget ul li a:hover,
.footermenu li a:hover{
	color:#FFF;
}
#scrolltop a{color:#FFF;}
#scrolltop{
	position: absolute;
	right: 20px;
	bottom: 22px;
	font-size: 20px;
	color: #FFF;
	z-index: 99;
	background:#232b2d;
	padding:6px 12px;
	border-radius:2px;
	opacity: 0.6
}
#scrolltop.fix{position: fixed;}
#scrolltop:hover{opacity: 1;}
#scrolltop span{
	display: block;
	text-transform: uppercase;
	font-size:11px;
	font-weight:600;
	text-align: center;
	margin-top:-8px;
}
/*========================================================================*/
/*   07. TITILE
/*========================================================================*/

#title{
	margin-top: -5px;
	padding: 30px 0 0;
}

.pagetitle h1{
	margin:0;
	padding:0;
	font-weight:600;
}
.pagetitle h5{
	margin-bottom:10px;
}

.single-wplms-assignment .pagetitle > span a{
 	margin-left:0;
}
/*========================================================================*/
/*   07. Breadcrumbs
/*========================================================================*/

.error{
padding:8px 20px;
border-radius:2px;
background:#f9edbe;
border:1px solid #f0c36d;
font-weight:600;
margin:5px 0;
display:inline-block;
width:100%;
font-size:11px;
text-transform: uppercase;
}

.bcrow{
	text-align: left;
	padding: 12px 0;
	line-height:1;
	border-bottom: 1px solid #EFEFEF;
	border-top: 1px solid #EFEFEF;
	margin-top: 15px;
	display: inline-block;
	width: 100%;
}
.breadcrumbs{
	display: inline-block;
	padding:0;
	margin:0;
	list-style: none !important;
}

.col-md-3 .breadcrumbs{
	padding: 20px 0 10px;
}

.breadcrumbs li{
	float:left;
	/*white-space:nowrap; Long breadcrumbs breaking the site*/ 
	margin-right:10px;
	font-size:11px;
	text-transform: uppercase;
	padding-bottom:2px;
}
.breadcrumbs a{font-weight:600;}
.breadcrumbs li+li:before{
	font-family: "fonticon" !important;
	content: "\e0f6";
	font-size: 10px;
	margin-right:10px;
}

.prev_next li{
	float:left;
	background:#FFF;
	border-radius:2px;
	padding:15px 0;
	max-width:50%;
	min-width:40%;
}

.prev_next li img{
	max-width:32px;
	max-height:60px;
	border-radius:2px;
}

.prev_next li a{
	text-transform: uppercase;
	font-weight:600;
	font-size:12px;
}
.prev_next li a span{margin:0 15px;}
.prev_next .prev:before{
	font-family:'fonticon';
	content: "\e172";
	float: left;
	color: #bbb;
	margin-right: 5px;margin-left:10px;
	font-size:24px;
}
.prev_next .next:after{
	font-family:'fonticon';
	content: "\e0f6";
	float: right;
	color: #bbb;
	font-size:24px;
	margin-right: 10px;margin-left:5px;
}
/*========================================================================*/
/*   07. Blog 
/*========================================================================*/

.meta{
	float: left;
	text-align: right;
	font-size: 14px;
	border-right: 1px solid #EFEFEF;
}

.meta .date{
	margin:0;
}
.meta,.meta a{
	color:#999;
}
.meta .date .day{
	font-size: 48px;
	font-weight: 700;
	margin: 0;
	opacity:0.4;
	line-height: 1;
	padding: 0 10px 10px 0;
}

.meta .date .month{
	padding: 10px 10px 0 0;
	margin: 0;
	text-transform: uppercase;
	font-weight: 600;
	border-top: 1px solid #EFEFEF;
	font-size: 12px;
	letter-spacing: 2px;
}

/*========================================================================*/
/*   07. Blogpost
/*========================================================================*/

.blogpost{
	clear:both;
	margin-bottom:60px;
}
.blogpost .featured{
	max-width: 200px;
	height: auto;
	float: left;
	margin: 0 20px;
}
.blogpost h3{
	margin-top:0;
}

.blogpost img{
	height:auto;
}
.blogpost .excerpt{
	margin-left:90px;
}
.blogpost .excerpt.thumb{
	margin-left:310px;
}
.excerpt .cats{
	padding: 4px 0;
margin: 4px 0 10px;
border-top: 1px dotted #EFEFEF;
border-bottom: 1px dotted #EFEFEF;
}

.content .cats ul,
.cats ul{
	float:left;
	list-style: none;
}

.cats p{margin:0;color:#DDD;}

.cats li{float:left; margin-right:5px;}

.cats a{
	font-size: 11px;
	font-weight: 600;
	color:#bbb;
	text-transform: uppercase;
}
.cats a:hover{
	color:#78c8ce;
}

/*========================================================================*/
/*   07. PAGINATION
/*========================================================================*/


.pagination{
	clear:both;
	display: inline-block;
	width:100%;
	margin:20px 0;
	font-size:14px;
	color:#444;
}

.content .pagination{
	margin:0;
}
a.page-numbers,
.page-numbers.current,
.pagination span,
.pagination label{
	background:#F6F6F6;
	padding:2px 6px;
	border-radius:2px;
	margin-right: 5px;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 600;
	color: #bbb;
}

.page-numbers.current,
.pagination span.current{
	background: #78c8ce;
	color:#FFF;
	font-weight:600;
}
a.page-numbers,
.pagination a{
	background:#F6F6F6;
	padding:2px 6px;
	border-radius:2px;
	margin-right: 5px;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 600;
}

.expand header{background: none !important;}
/*========================================================================*/
/*   07. SIDEBAR
/*========================================================================*/
.sidebar{
	padding:30px 0;
}

.widget .widget_title{
	border-bottom: 5px solid #EFEFEF;
	padding-bottom: 10px;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 600;
}
.widget+.widget{
	margin-top:30px;
}
.widget.Carousel.Vibe+.widget{
	margin-top:0;
}
.col-md-3 .widget+.widget{
	clear:both;
	display: inline-block;
	width:100%;
}
.widget #s{
	border:1px solid #EFEFEF;
	padding:6px;
}
.widget ul li{
	width:100%;
	padding:8px 0;
	display: inline-block;
	border-bottom:1px dotted #EFEFEF;
	font-size: 14px;
}
.widget ul.flex-direction-nav li{
	padding:0;border:none;
}

.widget ul li > ul li:last-child{
	border-bottom:none;
}
.widget ul li > ul.children{
	margin:0;
	padding-left:0;
}
.widget ul.hierarchial li > ul.children li{
  	clear: both;
	padding: 10px 0 0 0;
}
.widget ul.hierarchial li > ul.children li a{
	padding-left:8px;
}

.widget ul li.current-cat a{color:#78c8ce;font-weight:600;}
.widget ul.hierarchial li > ul.children li:before{
	content:"\e093";
	font-family: 'fonticon';
	font-size:10px;line-height: 16px;
}

.widget ul li:hover > a{
	color:#78C8Ce;
}

.widget ul li.product:hover a,
.widget ul.flex-direction-nav li:hover a{
	color:#FFF;
}


.widget .menu li > .sub-menu{
	display: block !important;
	background: none !important;
	position: relative !important;
	opacity: 1;
	width:100%;
}

.widget .menu-item-has-children:hover > a:before{border:none;}

.widget .menu li a{
	padding:6px 0;
	color:#444;
}
.widget .menu li.current-menu-item a{
	color:#78c8c9;
}

.tagcloud a{
	color:#FFF;
	font-size:11px !important;
	font-weight:600;
	text-transform: uppercase;
	background:#78c8c9;
	padding:6px 8px;
	border-radius:2px;
	margin: 0 10px 10px 0;
	display: inline-block;
}

.widget #searchform label{
	display: none;
}

.widget .more_posts li small{
	display: block;
	margin-left:70px;
}
.nav-tabs > li > a {
margin-right: 0px;
font-weight:600;
font-size:11px;
text-transform: uppercase;
border-radius: 2px 2px 0 0;
}

.widget .nav.nav-tabs > li > a{
	padding: 10px 6px;
}
.sidebar .widget #searchform input[type="text"]{
	border:1px solid #EFEFEF;
	padding:6px 12px;
	font-size:14px;
}
.widget .chosen-container{
	min-width:100%;
}
.sidebar .widget #searchform input[type="submit"],
#signup_submit,
#submit{
	padding:7px 20px;
    font-size:12px;
    text-transform: uppercase;
    font-weight:600;
    background-color: #78C8Ce;
    color:#FFF;
    border:none;
    border-radius:2px;
    background-image:url(../images/button.png)/*tpa=http://themes.vibethemes.com/wplms/skins/modern/wp-content/themes/wplms/images/button.png*/;
}

code{
	background:#F9f9f9;
	padding:4px 6px;
	color:#444;
	line-height:1.5;
	white-space:pre-line;
}
/*========================================================================*/
/*   07. CONTENT
/*========================================================================*/
.content{
	margin:30px 0;
	padding:30px;
	background:#FFF;
	border-radius:2px;
	display: inline-block;
	width: 100%;
	position: relative;
}

.content.padding_adjusted{
	padding:30px 15px !important;
}

.unit_content{
	margin:30px 0;
	padding:20px;
	background:#FFF;
	border-radius:2px;
	display: inline-block;
	width: 100%;
	position: relative;
}
.unit_content.loading{opacity: 0.4;}
.page .content,
.single .content,
.padder.content{
	margin:30px 0;
	padding:30px;
	background:#FFF;
	border-radius:2px;
	display: inline-block;
	width: 100%;
}


.page .sidebar,
.single .sidebar{
	padding-top:30px;
}

.content .vibe_editor{
	margin: 0 -15px;
}


#content + .stripe{
margin-top:30px;
}
header + #content + .stripe{margin-top:0;}
h4.block_title + .date{line-height:1.4;}
.block_desc{line-height:1.4;}

.indate{
	opacity: 0.4;
	font-weight: 600;
	font-size: 11px;
	text-transform: uppercase;
	float: left;
	margin: 0 10px 0 0;
}
.course_title > h2{
	margin:0;
}

/*=== Registration page ===*/

.register-section h4{
	font-weight:600;
	text-transform: uppercase;
	position: relative;
	cursor:pointer;

}
.register-section h4:hover{
	color:#78c8ce;
}
.register-section h4+.editfield,
.register-section h4+ label{
	margin-top:30px;
}

.editfield .checkbox,
.editfield .radio{
	margin:5px 0;
}
.editfield .checkbox .label,.editfield .radio .label{
	padding:0;color:#444;font-size:100%;
}
.editfield .checkbox label,.editfield .radio label{
	display: block;
	margin-bottom:5px;
}
.editfield .checkbox input{
	margin:0 5px 0 0;
}
.register-section h4:after{
	content: "\e092";
	position: absolute;
	right:0;
	top:0;
	font-size:18px;
	font-family: "fonticon" !important;
}
.register-section+.register-section h4:after{
	content: "\e092";
}
.register-section h4.show:after{
	content: "\e05d";
}
.register-section{
	margin:30px 0;
	padding:5px 0;
}

.register-section+.register-section{
	border-top:1px solid #EFEFEF;
	border-bottom:1px solid #EFEFEF;
}

#account_password_field label,
.register-section label{
	width:100%;
	position: relative;
}
#account_password_field label span,
.register-section label span{
	float:right;
	font-size:12px;
	text-transform: uppercase;
	font-weight: 600;
	position: absolute;
  	top: 40px;
  	right: 20px;
}
#account_password_field label span{
	top: 32px;
  	right: 40px;
}
label.short span{
	color:#FF0000;
}
label.weak span{
	color:orange;
}
label.good span{
	color:#2D98F3;
}
label.strong span{
	color: limegreen;
}

/*=== End REgister page ===*/
.content ul.list{
	list-style: disc inside none;
}

#content .content .cats ul,
#content .content .tags ul,
#content .content ul.grid,
#content .content ul.order_details,
#content .content ul.question_options,
#content .content ul.vibe_filterable{
	list-style: none;
}
.container{
	position: relative;
}

#vibe_bp_login{
	display: none;
	width: 240px;
	position: absolute;
	right: 80px;
	top: 36px;
	background: #232b2d;
	border-radius:2px;
	opacity: 1;
	z-index: 100;
}
#vibe_bp_login:after{
	content:'';
	position: absolute;
	top:-17px;
	right:20px;
	border:10px solid;
	border-color: transparent transparent #232b2d transparent;
}

#vibe_bp_login input[type="text"],
#vibe_bp_login input[type="password"]{
	background: rgba(0,0,0,0.2);
	border: 1px solid rgba(255,255,255,0.2);
	padding: 6px;
	border-radius: 2px;
	margin: 4px 0 0 0;
	width: 100%;
	font-size: 14px;
	color: #FFF;
	margin-bottom: 10px;
}
#vibe_bp_login input[type="submit"]{
	padding:7px 20px;
	margin-right:12px;
    font-size:11px;
    font-weight:600;
    background-color: #F16645;
    color:#FFF;
    border:none;
    border-radius:2px;
    text-transform: uppercase;
    background-image:url(../images/button.png)/*tpa=http://themes.vibethemes.com/wplms/skins/modern/wp-content/themes/wplms/images/button.png*/;
}
#vibe_bp_login label{font-size:11px;width:100%;}
#vibe_bp_login label input[type="checkbox"]{margin-right: 5px;}
#vibe_bp_login .vbpregister{
	padding:7px 20px;
	font-size: 11px;
	font-weight:600;
	background-color: #1b5d9c;
    color:#FFF;
    border:none;
    border-radius:2px;
    background-image:url(../images/button.png)/*tpa=http://themes.vibethemes.com/wplms/skins/modern/wp-content/themes/wplms/images/button.png*/;
}

#vbp-login-form label > a{
	font-weight: 600;
    opacity: 0.3;
    float: right;
}

.vbplogin{
	position: relative;
}

.vbplogin em{
	position: absolute;
	top: -3px;
	left: -3px;
	width: 6px;
	height: 6px;
	background: #78c8c9;
	border-radius: 50%;
}
input[type="checkbox"],
input[type="checkbox"]:hover{
	-webkit-appearance: checkbox !important;
}
input[type="radio"],
input[type="radio"]:hover{
	-webkit-appearance: radio !important;
}
#vibe_p_login .bp-login-widget-user-avatar{
	float:left;
	margin-right:10px;
}
#vibe_p_login .bp-login-widget-user-avatar img{
	border-radius:2px;
}
.heading_more{
	position: absolute;
	top: 10px;
	right: 48px;
	text-indent:-9999px;
}

.heading_more:before{
	position: absolute;
	top:0;
	right:0;
	text-indent:0;
	content: "\e05d";
	font-family: 'fonticon';
	font-size: 11px;
	color: #FFF;
	background: #78c8c9;
	padding: 2px 4px;
	border-radius: 2px;
}

#userstats .in_details+strong{
	float:right;
}
#userstats .in_details+strong+span{
	font-size: 12px;
	font-weight: 600;
	color: #bbb;
}
#download_stats{cursor: pointer;
}
.select_download_options ul{
	margin:0 !important;
}
.select_download_options li{
	float:left;display: inline-block;
	padding:0 10px 10px 0;
}
.select_download_options li label{
	padding-left:5px;
}


/*========================================================================*/
/*   07. Unit Comments
/*========================================================================*/

.notes_list,
.notes_list .actions{
	list-style:none !important;
	margin:0 !important;
}
.notes_list > li:first-child{padding-top:0;}
.notes_list > li{
	position: relative;
	display: inline-block;
	width:100%;
	padding:10px 0;
	border-bottom:1px solid #EFEFEF;
}
.notes_list>li img{
	max-width:64px;
	margin:0 20px 0 0;
	border-radius:50%;
	float:left;
}

.notes_list .unit_comment_author{
	font-weight:600;
	text-transform: uppercase;
}
.notes_list > li .unit_comment_content,
.notes_list > li .actions{
	margin-left:84px !important;
}
.notes_list .unit_comment_author+span{
	font-size: 11px;
	text-transform: uppercase;
	color: #bbb;
	text-align:right;
}
.unit_comment_content .note_content{
	display:inline-block;
	width:100%;
}
.notes_list .actions li{
	float:left;
	margin-right:10px;
}

.notes_list .creply.loaded{
    clear: both;
    margin: 18px 0 0 10%;
    display: inline-block;
    width: 90%;
}
#notes_query{display: none;}
/*========================================================================*/
/*   07. WIDGETS
/*========================================================================*/

#unit h1+h3{
	margin:0;
}

.postsmall .post_thumb{
	float: left;
	max-width: 70px;
	padding: 0;
	border-radius: 2px;
	margin: 0 10px 0 0;
	line-height: 0;
}
.postsmall .post_thumb a{padding:0;border: 2px solid #232b2d;display:inline-block;max-width:100%;}
.postsmall .post_thumb a:hover{border-color:#78c8c9;}
.postsmall .post_title {margin:0;}
.postsmall .post_title a{
    font-size: 15px;
    font-weight: 600;
    margin: 0;
}

/*========================================================================*/
/*   07. ALL Instructors
/*========================================================================*/

.instructor{
	border: 1px solid #EFEFEF;
	padding: 30px;
	border-radius:2px;
	margin:0 0 30px;
}

.unit_content .instructor{
	border:none;
	padding:0;
	margin:0;
}
.instructor img{
	margin-bottom: 10px;
	border-radius: 2px;
}

.instructor h3{
	margin:0;
	font-weight:600;
	font-size:20px;
}

.instructor span{
	margin: 10px 0;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 11px;
	color: #bbb;
}

.instructor strong{
	font-size: 12px;
	font-weight: 600;
}
.instructor strong a{
	font-weight: 600;
	color: #bbb;
	text-transform: uppercase;
	width: 100%;
}
.instructor strong a:hover{color:#78c8c9;}
.instructor strong span{
	float: right;
	margin: -5px 0;
	padding: 5px 10px;
	border-radius: 50%;
	color: #FFF;
	background: #78c8c9;
}
/*========================================================================*/
/*   07. SINGLE
/*========================================================================*/
.single .featured{
	margin-bottom:30px;
}
.single .featured img{
	width:100%;
	height:auto;
	border-radius:2px;
	box-shadow: 0 1px 1px #aaa;
}

.postdate{
	font-size: 14px;
	text-transform: uppercase;
	margin: 0;
	font-weight: 600;
}


.tags{
	border-top:1px solid #EFEFEF;
	margin-top:30px;
	padding:30px 0 0 0;
	display: inline-block;
	width: 100%;
}

.tags .page-links{
	float:right;
}


.tags li{
	float:left;
	margin-right:10px;
}
.tags .social_sharing{
	float:right;
}

.tags  li a{
	padding-left:2px;
	font-size:11px;
	text-transform: uppercase;
	font-weight:600;
	color:#bbb;
}

.tags .social_sharing li a{
	font-size:16px;
}
.tags > ul > li:before,
ul.tags > li:before{
	font-family: 'Fonticon';
	content: '\e025';
	float:left;
	color:#ddd;
}
.unit-page-links{
	text-align: right;
	margin: 30px 0 0;
	padding: 15px 0;
	border-top: 1px solid #EFEFEF;
}

.unit-page-links .page-link{
	display: inline-block;
}

.unit-page-links span,
.unit-page-links a{
	float:left;
	margin-left:5px;
	}
.page-links span{
	background: #78c8c9;
	padding: 1px 6px;
	font-size: 12px;
	font-weight: 600;
	border-radius: 2px;
	color:#FFF;
	margin-left: 5px; 
}
.page-links a span{
	background: #EFEFEF;
	color:#444;
}
.content + .prev_next_links{
	display: inline-block;
	width:100%;
}
.single-product .prev_next_links{
	margin: 30px 0;
	color: #bbb;
	display: inline-block;
	width: 100%;
}

.single-product .prev_next_links a{
	padding:4px;
	font-size:11px;
	font-weight:600;
	text-transform: uppercase;

}

.postauthor{
	margin-top:30px;
	border:1px solid #EFEFEF;
	padding: 20px;
	background: #FFF;
	border-radius:2px;
	display: inline-block;
	width:100%;
}

.postauthor .auth_image{
	float:left;
	margin-right:15px;
}

.postauthor .auth_image img{
	max-width:160px;
	height:auto;
}
.author_info .readmore{
	float:right;
	font-size:11px;
	color:#bbb;
	margin-top:7px;
}
.author_info .author_desc{
	margin-top: 10px;
}
.author_info h6{
	margin:0;
	padding-top:0;
	text-transform: uppercase;
	font-weight:600;
	font-size: 18px;
}
.author_desc .website{
	margin:0;
	font-size:12px;
	font-weight: 600;
	color:#bbb;float:left;
	text-transform: uppercase;
}
.author_desc .website a{
	font-weight:600;
}
.author_desc .social{
	display: inline-block;
	float:right;
}
.author_desc .social li{
	float:left;
	margin-right:8px;
}
.author_desc .social li a{
	color:#bbb;
}
.author_desc .social li a:hover{color:#78c8c9;}

.archive.author .col-md-4.col-sm-6:nth-child(3n+1){
	clear:both;
}
/* ==== Single Testimonial ===== */

.single-testimonials .testimonial-author{
	display: inline-block;
width: 100%;
margin-top: 30px;
padding-top: 30px;
border-top: 5px solid #EFEFEF;
}

.single-testimonials .testimonial-author img{
	max-width: 120px;
	float: left;
	border-radius: 50%;
	margin-right: 30px;
}
.single-testimonials .testimonial-author h4{
	text-transform: uppercase;
	font-weight: 600;
}
.single-testimonials .testimonial-author h4 span{
	display: block;
color: #bbb;
}

.dropcap {
	color: #222;
	display: block;
	float: left;
	font-size: 94px;
	line-height: 0.9em;
	font-weight: 600;
	margin: 0 10px 0 0;
}
/*========================================================================*/
/*   07. CONTACT
/*========================================================================*/
#contactcanvas{
	margin:0;
	padding:0;
}
#contactpage .container{
    padding-bottom:60px;
}

#map-canvas{
    width:100%;
    height:360px;
    z-index:3;
}

.btn-primary,
.btn-default{
	background-color:#78c8c9;
	border-color:#78c8c9;
	background-image:url(../images/button.png)/*tpa=http://themes.vibethemes.com/wplms/skins/modern/wp-content/themes/wplms/images/button.png*/;
	font-size:12px;
	font-weight:600;
	text-transform: uppercase;
	border-radius:2px;
	color:#FFF;
}

.btn-primary{
	background-color:#f16645;
	border-color:#f16645 !important;
}

.btn-primary:hover,
.btn-default:hover{
	background-color:#EEE;
	color:#333;
	border-color:#ddd !important;
}

#respond{
	clear:both;
}
.single-question #respond{display: none;}

.message + #respond{
	margin-top:30px;
}

.message + #respond #reply-title{
	border-bottom: 5px solid #EFEFEF;
	font-weight: 600;
	padding-bottom: 10px;
}
.extra_buttons{
	position: absolute;
	top: 60px;
	right: 15px;
	padding: 0;
	background: #EFEFEF;
	z-index: 99;
	display: none;
}

.certificate_generated .extra_buttons {
	display: inline-block;
}
.extra_buttons a{
	padding: 5px 10px;
	display: inline-block;
	border-left:1px solid #DDD;
}
.extra_buttons a:first-child{
	border-left:none;
}
/*========================================================================*/
/*   07. SINGLE QUESTION
/*========================================================================*/

.content .question{
	font-size:24px;
	font-weight:400;
	padding-bottom:5px;
	margin-bottom:15px;
	padding-right:35px;
	border-bottom:5px solid #EFEFEF;
}
.content .question.fillblank,
.content .question.select,
.content .question.match{
	border:none;
}
#question{padding-bottom: 60px; }
#question #respond+h5{
	margin:30px 0 10px;
	padding-bottom:10px;
	border-bottom:5px solid #EFEFEF;
}
.content ul.question_options{
	list-style:none;
	margin:30px 0;
}


.question_options input[type="checkbox"],
.question_options input[type="radio"]{
	display: none;
}
.question_options + #respond > #reply-title{
	display:none;
}
.question_options + #respond > #commentform > p,
.fillblank #respond > #commentform > p, 
.fillblank #reply-title,
.select_dropdown #respond > #commentform > p,
.select_dropdown #reply-title{
	display:none;
}
.question_options + #respond > #commentform > p.form-submit,
.fillblank #respond > #commentform > p.form-submit,
.select_dropdown #respond > #commentform > p.form-submit{
	display:inline-block;
	margin:0 20px 0 0;
}


.question_options.sort{position: relative;overflow: auto;}
.question_options .sort_option,
.question_options .match_option{
	padding: 6px 24px 4px;background:#FFF;border-radius:2px;
	border: 1px solid #EFEFEF;
	border-top:none;
	cursor:move;
}
.question_options.match{border:1px solid #EFEFEF;background:#F9f9f9;min-height:80px;}
.question_options .match_option{
	clear:both;display: 
	inline-block;
	border-top:1px solid #EFEFEF;
	margin:15px; 
	padding:5px 15px 5px 35px;
	position: relative;
	border-radius:2px;
}

.question_options .match_option span{
	color:#bbb;
	font-family: 'fonticon';
	font-size:16px;
	position: absolute;
	left: 10px;
	top:10px;
}
.question_options .match_option span:before{
	content:"\e0e0";
}

.sort_option.ui-sortable-helper,.match_option.ui-sortable-helper{display: block}
.question_options li.sort_option:first-child{
	border-top:1px solid #EFEFEF;
}

.placeholder {
 background-color: #fff8dc;
 padding-right:10px;
 padding-left:10px;
 text-align:center;
 width:100%;
 height:48px;
 border:2px dotted #ffe993;
}

.quiz_question{
	cursor:pointer;
}
.quiz_result ul.socialicons.round li a{font-size:14px;}
.data_stats{
	list-style: none !important;
	position: absolute;
	top: -35px;
	margin:0 !important;
	right: 0;
}
.data_stats li {
	float: left;
	padding: 8px 10px 5px 10px;
	background: #FFF;
	font-size: 16px;
	border-radius: 2px;
	cursor: pointer;
}
.data_stats li:hover,.data_stats li.active{
	background:#78c8c9;
	color:#FFF;border-bottom-left-radius: 0;border-bottom-right-radius: 0;
}
.stats_content h2{
	margin:0;
}
.heading a.small_link{
	float:none;
	font-size:11px;
	font-weight:600;
	color:#bbb;
	margin-left:10px;
}

#question #submit{
	position: absolute;
	z-index: 999;
	width: 50%;
	background: none;
	padding: 15px 0;
	bottom: 0;
	left: 0;
	margin-left:25%;
	border-radius:0;
}
.ques_link{
	font-size:12px;
	font-weight:600;
	color:#FFF;
	text-transform: uppercase;
	position: relative;
	min-width:120px;
	padding:15px 0;
	width: 25%;
	text-align: center;
	opacity: 0.8;
}

.nextq i,
.prevq i{
	font-size:16px;
	line-height: 12px
}

.nextq{
	box-shadow: -1px 0 0 rgba(255,255,255,0.2);
}

.prevq{
	box-shadow: 1px 0 0 rgba(255,255,255,0.2);
}

.reset_answer{
	z-index: 999;
	color: #FFF;
	width: 50%;
	display: block;
	left: 25%;
	padding: 15px 0;
	position: absolute;
	font-size:12px;
	text-transform: uppercase;font-weight:600;
	bottom: 0;
	text-align: center;
	background: #78C8Ce;
	cursor:pointer;
}

#comment-status{
	text-align: center;
	display: block;
	margin: 0 -30px 0 -30px;
	text-transform: uppercase;
	font-weight:600;
	font-size:11px;
}
#comment-status p{
	padding:15px 0;
	background:#f0c36d;
	color:#333;
}
.boxed #comment-status{margin:0;}
.boxed #comment-status p{
	margin-bottom:48px;
}
#comment-status .ajax-success{
	background:#70c989;
	color:#FFF;
}

#comment-status .wdpajax-error{
	background:#f0c36d;
	color:#333;
}

.quiz_bar{
	background: #313b3d;
	display: block;
	width:100%;
	position: absolute;
	bottom:0;
	left:0;	
	min-height:45px;
}
.ques_link > i{font-size:12px;line-height: 1;}
#question #submit:hover,
.ques_link:hover,
.reset_answer:hover{
	opacity: 1;
	color:#FFF;
	background:#6eaa66;
}
.reset_answer:hover{
	background: #313b3d;
}
.question_options input[type="checkbox"] + label span {
	display: inline-block;
	width: 19px;
	height: 19px;
	margin: -1px 4px 0 0;
	vertical-align: middle;
	background: url(../images/check_radio_sheet.png)/*tpa=http://themes.vibethemes.com/wplms/skins/modern/wp-content/themes/wplms/images/check_radio_sheet.png*/ left top no-repeat;
	cursor: pointer;
}

.question_options input[type="checkbox"]:checked + label span {
	background: url(../images/check_radio_sheet.png)/*tpa=http://themes.vibethemes.com/wplms/skins/modern/wp-content/themes/wplms/images/check_radio_sheet.png*/ -19px top no-repeat;
}


.question_options input[type="radio"] + label>span:first-child {
	display: inline-block;
	width: 19px;
	height: 19px;
	margin: -1px 4px 0 0;
	vertical-align: middle;
	background: url(../images/check_radio_sheet.png)/*tpa=http://themes.vibethemes.com/wplms/skins/modern/wp-content/themes/wplms/images/check_radio_sheet.png*/ -38px top no-repeat;
	cursor: pointer;
}

.question_options input[type="radio"]:checked + label>span:first-child{
background: url(../images/check_radio_sheet.png)/*tpa=http://themes.vibethemes.com/wplms/skins/modern/wp-content/themes/wplms/images/check_radio_sheet.png*/ -57px top no-repeat;
}

.single_text .form-allowed-tags,
.single_text .logged-in-as,
.single-text label.comment-form-textarea{
	display: none;
}

.single_text #comment{
	max-height:40px;
	margin-bottom:48px;
}

.navigation a{
	font-size:12px;
	text-transform: uppercase;
	font-weight:600;
	color:#78c8ce;
}
/*========================================================================*/
/*   07. COMMENTS
/*========================================================================*/

#comments{
	clear:both;
	margin-bottom:60px;
}

#comments .comments-title{
	padding-bottom:20px;
	border-bottom:5px solid #EFEFEF;
}
.comments_rss{
	float: right;
	margin: 8px 0 10px;
	font-size: 20px;
}


.comment{
	clear:both;
	position: relative;
	margin-bottom:30px;

}

.comment-body{
	position: relative;
}

.comment-body.unapproved {
    background: #FFFDD8;
    display: inline-block;
    width: 100%;
    padding: 15px 15px 0;
}

.commentlist{
	margin: 30px 0;
}
.footerwidget .item-list img,
.vcard img{
	width: 64px;
	height:auto;
	border-radius: 2px;
	float: left;
	margin-right: 20px;
	border:2px solid rgba(0,0,0,0.2);
}
.footerwidget .item-list li:hover img,
.vcard:hover img{
	border-color:#78c8c9;
}
.footerwidget .item-list li .item-meta,
.vcard .item-meta{font-size:80%;}

.children{
	margin-top:30px;
	padding-left:84px;
}

.children:before{

}
.comment-meta a{
	font-size:11px;
	text-transform: uppercase;
	color:#bbb;
	font-weight: 600;
}

.reply{
	position:absolute;
	right:2px;
	top:0;
}
.bbpress .reply,
.forums .reply{
	position: relative;
}
.reply a:hover:after{
	content:'+';
	position: absolute;
	right:-10px;
	top:-4px;
	font-weight:300;
	font-size:20px;
}
.comment-meta{
	margin: 0 0 0 84px;
}
.comment-body p{
	margin-left:84px;
}

.button.insert-media.add_media{
	background: #ebebeb;
	border: 1px solid #dedede;
	padding:4px;
	margin:0;
	line-height: 1;
	font-size:11px;
}
.doc-permissions ul,
.connected_courses li{list-style: none;}
/*========================================================================*/
/*   07. QUIZ
/*========================================================================*/
.full_desc{display: none;}

.full_desc .link,
.small_desc .link{
	margin-left:0px;
	font-weight:600;
}
.quiz-sidebar{
}
.quiz_details{
	margin:30px 0;
	padding:30px 0;
	text-align: center;
	background: #313b3d;
	border-radius:2px;
}

.quiz_timer{
	display: inline-block;
	text-align: center;
	position: relative;
	color: #FFF;
	border-radius: 50%;
	width: 212px;
	height: 212px;
	margin: 0 auto;
}
.quiz_timer:after{
	content:'';
	background:transparent;
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index: 99;
}
.countdown + span{
	position: absolute;
	top: 54px;
	left: 0;
	width:100%;
	text-align: center;
	font-size: 11px;
	color:#bbb;
	text-transform: uppercase;
	font-weight: 600;
}
.countdown{
	font-family: 'Oswald',sans-serif;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    text-align: center;
    letter-spacing:2px;
}

.countdown+span+span{
	font-size: 11px;
	text-transform: uppercase;
	color: #bbb;
	font-weight: 700;
	position: absolute;
	left: 0;
	width: 100%;
	bottom: 52px;
}
.countdown+span+span > strong{
	margin-right:24px;
}

.quiz_timeline{
	margin-top:30px;
	padding: 0 30px;
	position: relative;
	max-height:204px;
	overflow-y:scroll;
}
.quiz_timeline .timeline_wrapper{
	border-left:4px solid #232b2d;
}

.quiz_timeline li{
	padding:8px 0 8px 30px;
	text-align: left;
	position: relative;
}
.quiz_timeline li:first-child{
	padding-top:0;
}
.quiz_timeline li:last-child{
	padding-bottom:0;
	padding-top:0;
}
.quiz_timeline li > span{
	position: absolute;
	left: -10px;
	top: 8px;
	width: 16px;
	height: 16px;
	background: #232b2d;
	border-radius: 50%;
}
.quiz_timeline li:first-child > span{
	top:0;
}

.quiz_timeline li a{
	font-size:12px;
	text-transform: uppercase;
	color:#bbb;
	font-weight:600;
}

.quiz_timeline li.active{
	border-left: 4px solid #78c8ce;
	margin-left: -4px;
}
.quiz_timeline li.done{
	border-left: 4px solid #70c989;
	margin-left: -4px;
}
.quiz_timeline li.done a{
	color:#70c989;
}

.quiz_timeline li:hover a,
.quiz_timeline li.active a{
	color:#78c8ce;
}
.quiz_timeline li.done > span{
	background:#70c989;;
}
.quiz_timeline li.done > span:before{
	font-family: "fonticon";
	content: "\e038";
	color:#FFF;
	font-size: 10px;line-height: 1;
	line-height: 1;
	position: absolute;
	top: 3px;
	left: 3px;
}
.quiz_timeline li:hover > span,
.quiz_timeline li.active > span{
	background:#78c8ce;
}
.quiz_timeline li.active:after{
position: absolute;
height: 100%;
width: 5px;
display: block;
background: #78c8ce;
left: 0;
top: 0;
}

.quiz_question span{
	float:right;
	padding:3px 8px;
	background: #232b2d;
	border-radius:16px;
	color:#FFF;
}
.done .quiz_question span{
	background:#70c989;
	color:#FFF;
}
.active .quiz_question span{
	background:#78c8ce;
	color:#FFF;
}

.reviewlist.commentlist{

}
.reviewlist.commentlist .reply{
	display: none;
}
.reviewlist.commentlist .comment-body p{
	margin:10px 0;
}
.reviewlist.commentlist cite{float:right;clear: both;}
.reviewlist.commentlist cite a{
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 600;
}
.reviewlist.commentlist cite+span,
.reviewlist.commentlist .comment-meta{display: none;}
.reviewlist.commentlist .vcard img{
	float:right;
	border-radius:50%;
	margin-right:0;
}
.reviewlist.commentlist .comment{
	display: inline-block;
	width:100%;
	padding: 0 0 30px 0;
	border-bottom: 5px solid #EFEFEF;
}
.reviewlist.commentlist .vcard{
	display: inline-block;
	float: right;
	margin-left: 15px;
}


.widgets ul.flex-direction-nav li{
	border:none !important;
	padding:0 !important;
}
/*========================================================================*/
/*   07. Instructor Meta
/*========================================================================*/
.instructor_course .instructor_meta{margin:0;}
.instructor_course .instructor_meta li,
#buddypress ul.item-list .instructor_meta li{list-style:none; padding:0;clear:none;width:auto;border:none;}
.instructor_course .instructor_meta li a.button,
#buddypress ul.item-list .instructor_meta li a.button{padding:1px 4px !important;margin:0 5px 0 0;}
.widget .instructor_course .instructor_meta,.footerwidget .instructor_course .instructor_meta{display:none;}
/*========================================================================*/
/*   07. DW Q&A
/*========================================================================*/
.dwqa-list-question .dwqa-footer-meta,
.dwqa-list-question .dwqa-header{
	background:none;
}
.dwqa-list-question .dwqa-comment, .dwqa-list-question .dwqa-view, .dwqa-list-question .dwqa-vote{color:#444;}
/*========================================================================*/
/*   07. UNITS
/*========================================================================*/

.unit_title{
	margin-bottom:30px;
}
.unit_title h1,
#unit.page_title h1{
	clear:both;
	width:100%;
	margin:10px 20px 10px 0;
	display: inline-block;
}
.unit_title ul,
#unit.page_title ul{
	width: 50%;
	padding: 0;
	border: none;
	display: inline-block;
}
.unit_title ul.tags{margin:0;}
.unit_title .instructor,
.unit_title ul+.instructor,
#unit.page_title .instructor,
#unit.page_title ul+.instructor{
	width: 50%;
	display: inline-block;
	text-align:right;
	border:none;
	padding:0;
	margin:0;
	float:right;
}
.unit_title .instructor img,
.unit_title ul+.instructor img,
#unit.page_title .instructor img,
#unit.page_title ul+.instructor img{
	width:32px;
	height:auto;
	border-radius:50%;
	float: right;
	margin-top:2px;
	margin-left: 10px;
}
.unit_title .instructor span,
.unit_title ul+.instructor span,
#unit.page_title .instructor span,
#unit.page_title ul+.instructor span{
	text-transform: uppercase;
	color: #bbb;
	font-size:11px;
}
#unit.page_title span{
	font-size: 11px;
	font-weight: 600;
	color: #bbb;
}
.unit_title li{
	float:left;margin-right:10px;
}
.unit_title li a{
	color:#bbb;
	font-size:11px;
	text-transform: uppercase;
	font-weight:600;
}
.unit_title .print_unit+span,
.quiz_title .print_unit+span{
	float:left;
	font-size: 11px;
	color: #bbb;
	font-weight: 600;
	text-transform: uppercase;
	margin-top: 0;
}
.heading ul.socialicons{
	margin:0 5px;
}
.heading ul.socialicons li a{
	line-height: 1.5;
}
.heading a.print_results{
	padding: 5px 6px;
	color: #444;
	cursor: pointer;
	line-height: 1;
	background: #EFEFEF;
}
.unit_title .print_unit,
.quiz_title .print_unit{
	position: relative;
	background: none;
	color:#bbb;
	float:left;
	padding:0 10px 0 0;
}
.course_time{
	margin-top: 30px;
	font-family: sans-serif;
	text-transform: uppercase;
}
.course_time strong{color:#bbb;}
.course_time strong span{color:#222;}

.course_timeline{
	border: 2px solid #3f4c4f;
	border-radius: 2px;
	background: #313b3d;
	margin: 30px 0;
	padding-bottom: 30px;
	position: relative;
}

.course_timeline li{
	padding:15px 0 15px 30px;
	text-align: left;
	position: relative;
}

.course_timeline h4{
	color: rgba(255,255,255,0.8);
	margin:0;
	padding: 20px;
	background: #232b2d;
}
.course_timeline li.section + li,
.course_timeline li+li.section{
	margin-top:10px;
}
.course_timeline li{
	padding:0;
	text-align: left;
	position: relative;
}
.course_timeline li.unit_line{
	margin-left:20px;
	border-left:3px solid #3f4c4f;
}

.course_timeline li.done a{
	color:rgba(255,255,255,0.6);
}

.course_timeline li:hover a,
.course_timeline li.active a{
	color:#FFF;
}

.course_button > span{
	display: block;
	opacity: 0.8;
	font-weight:400;
}
.course_timeline li > span{
	position: absolute;
	left: -7px;
	top: 18px;
	width: 12px;
	height: 12px;
	border: 2px solid #313b3d;
	background: #3f4c4f;
	border-radius: 50%;
}
.course_timeline li > span.loading{
	border:3px double;
}
.course_timeline h4,
.course_timeline li a{
	font-size:11px;
	text-transform: uppercase;
	color: rgba(255,255,255,0.8);
	font-weight:600;
}
.course_timeline h4{
	font-size: 12px;
}
.course_timeline li+li{
	padding:15px 0;
}
.course_timeline li > a{
	margin:0 10px 0 20px;
	display: inline-block;
}


.course_timeline li.done > span,
.course_timeline li:hover > span,
.course_timeline li.active > span{
	background:#78c8ce;
}
.course_timeline li.done > span:before{
	font-family: "fonticon";
	content: "\e038";
	color:#FFF;
	font-size: 10px;
	text-align: center;
	display: inline-block;
	margin: 3px 0 0 5px;
}

.course_timeline li.done > span{
	width: 24px;
	height: 24px;
	left: -13px;
	top:12px;
	background: #70c989;
}
.active .unit span{
	background:#78c8ce;
	color:#FFF;
}
.done .unit span{
	background:#70c989;
	color:#FFF;
}

.review_course.unit_button.button{
	margin:15px 0;
}
/*========================================================================*/
/*   07. MESSAGES
/*========================================================================*/

.message{
	padding:12px 24px;
	border:1px solid #f0c36d;
	background-color: #f9edbe;
	border-radius:2px;
	font-size:11px;
	font-weight:600;
}
.message.success{
	color: #468847;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}
.message h3,
.message h3+p{margin:0;font-weight:600;color:#222;}
/*.message.error{
	border-color: #de5439;
	background-color: #f16645;
} */
.message.error h3,
.message.error h3+p{color:#444;}

.message p{
	margin-bottom:0;
}

/*========================================================================*/
/*   07. CERTIFICATE
/*========================================================================*/
.certificate {text-align: center;font-size:16px;margin:60px 0;}
#certificate{background: #FFF;}
.certificate_content{position: relative;z-index:2;}

.certificate h1{
	font-size: 60px;
	font-weight: 800;
}
.certificate h2{font-size:32px;
	text-transform: uppercase;font-weight: 600;
}
.certificate h2 span{color:#bbb;display: block;
font-size:18px;
}
.certificate h3{
	font-size:24px;
	text-transform: uppercase;font-weight: 600;
}
.mfp-content .certificate_generated .col-md-12{margin:0;padding:0;}
.certificate_content{
	position: relative;
	border-radius:2px;
	background-color:#FFF;
	padding:0;
	display: inline-block;
	width:100%;
	media:print;
}

.single-certificate #certificate{
	margin: 0 auto;
	overflow: hidden;
}
.vibe_carousel.widget_carousel.flexslider .block{margin-right:0;}
.vibe_carousel.widget_carousel.flexslider .flex-direction-nav li{border-bottom:none;}

/*.vibe_carousel.onecol .slides > li+li {
margin-left: 30px;
}*/

.certificate_bg_image{
	width:100%;
	height:auto;
	z-index: -1;
}
/*========================================================================*/
/*   07. MISCELLANEOUS
/*========================================================================*/

#calendar_wrap{
	border: 1px solid rgba(0,0,0,0.1);
	background: rgba(255,255,255,0.4);
	border-radius: 2px;
	width: 100%;
}
#calendar_wrap table{width:100%;}
#calendar_wrap caption{
	padding: 6px;
	background: #232b2d;
	color: #FFF;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
}
#calendar_wrap thead,
#calendar_wrap tfoot{
	background:rgba(0,0,0,0.1);
}
#calendar_wrap tfoot a{
	font-size:12px;
	font-weight:600;
	text-transform: uppercase;
	padding:6px;
}

#calendar_wrap tbody td{
	text-align: center;
	border-top: 1px solid rgba(0,0,0,0.05);
	border-right: 1px solid rgba(0,0,0,0.05);
}

#calendar_wrap tbody td#today{
	background: #78c8c9;
color: #FFF;
font-weight: 600;
background-image: url(../images/button.png)/*tpa=http://themes.vibethemes.com/wplms/skins/modern/wp-content/themes/wplms/images/button.png*/;
}

.fbLoginButton {
	background: #4c66a4;
	padding: 10px 20px 20px 50px;
	line-height: 1;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	font-weight: 800;
	cursor:pointer;
}
.fbLoginButton:before {
	font-family: 'fonticon';
	content: "\e21e";
	position: absolute;
	left: 0;
	top: 0;
	color: #FFF;
	font-size: 16px;
	padding: 7px 10px;
	background: #364c7c;
}


#content + .homepageslider.stripe{margin-top:0 !important;}
.total_students span{color:#FFF !important;}

h2+.shop_table.order_details th,
h2+.shop_table.order_details td{width:100%;}


.footerwidget ul.slides li{
clear:none !important;
}

.scontent{
	background:#EFEFEF;
	padding:15px;
	margin:30px 0 0;
	border:1px solid #DDD;
	border-radius:2px;
	text-align: center;
}
.search_results{
	margin:30px 0;
}
.scontent .buddypress-course-search-widget.widget{
	width:100%;
	text-align: center;
}
.scontent .buddypress-course-search-widget.widget ul{
	display: inline-block;
	min-width:82%;
}
.scontent .buddypress-course-search-widget.widget ul.chosen-results{
	width:100%;
}

.buddypress-course-search-widget.widget ul li{
	border:none;
}

.scontent .buddypress-course-search-widget.widget ul li{
	max-width: 180px;
	display: inline-block;
	padding-left: 10px;
}

.scontent .buddypress-course-search-widget.widget ul li #s{
	padding:9px;
	width:200px;
}
.scontent .buddypress-course-search-widget.widget ul li #searchsubmit{
	padding:12px 32px;
}

.scontent .buddypress-course-search-widget.widget ul.chosen-results li{
	padding:10px 0;
	font-size:12px;
}

.news{margin:20px 0;}
.news .tags{margin-top:10px;padding-top:10px;}
.news .news_thumb{margin:10px 0;}
.news h4,.news h4 a{font-weight:600;}
.news span.right{
	color: #bbb;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
}
/*========================================================================*/
/*   07. MISC FIXES
/*========================================================================*/


span.wpcf7-form-control-wrap{
	width:100%;
}

.single-dwqa-question #content .dwqa-question.hentry{
	padding-left:0;
}
.single-dwqa-question #content .dwqa-container{padding-left:50px;}

.content header.dwqa-header{
	position: static;
}

#dwqa-answers{margin-top:30px;}

.quiz_result .quiz_questions .icon-x{
	color:#cf4f2f;
}
.quiz_result .quiz_questions .icon-check{
	color:#6eaa66;
}

/*========================================================================*/
/*   07. PLUGINS
/*========================================================================*/
/*   BADGE OS   */
.badgeos-required-achievements + h4{
	border-bottom: 2px solid #EFEFEF;
	padding: 10px 0;
}

#content .content ul.badgeos-achievement-earners-list,
#content .content ul.slides{
	list-style: none;
	margin-left:0;
}

.badgeos-achievement-earners-list li{
	max-width:64px;
}
.badgeos-achievement-earners-list li img{
	border-radius:2px;
	border:2px solid #EFEFEF;
}
.badgeos-achievement-earners-list li:hover img{
	border-color:#78c8ce;
}
hr{
	clear:both;
}
#content .content ul.search-results-suggest{
	list-style:none;
	margin:0;
}


.congrats_badge .ajax-badge{
	max-width: 36px;
	display: block;
	float: right;
	margin-top: -10px;
	cursor: pointer;
}
.course_students li .progress{
	max-width:128px;
	margin:10px 0 0 85px;
	clear: both;overflow: hidden;
}
.course_students li .progress:hover{
	overflow:visible;
}
.course_students li .progress .bar{
	padding:2px 1px;
}
/*========================================================================*/
/*   07. RESPONSIVE
/*========================================================================*/
@media (max-width: 991px) {
	header nav{
		display: none;
	}
	.blogpost{position: relative;}
	.blogpost .excerpt.thumb {
		margin-left: 0;
		clear: both;
		margin-top: 30px;
		display: inline-block;
		width: 100%;
	}
	.blogpost .featured {
		max-width: 100%;
		margin: 0 20px;
	}
	.tags .social_sharing{
		margin-top:15px;
		clear:both;
	}
}
@media (max-width: 991px) and (min-width:768px){
	#trigger{display:block; top:24px;right:60px;}
	.blogpost .featured {max-width:320px;margin-right:0;}
}	
@media (max-width: 767px) {
	header nav{
		display: none;
	}
	.prev_next li{
		width:100%;max-width:100%;min-width:100%;
		display: block;
	}
	.meta .date {
		margin: 0;
		position: absolute;
		top: 0;
		background: #FFF;
	}
	.block.side .block_content{
		display: block;
		clear:both;
	}
	#headertop .topmenu+.topmenu{
		display: none;
	}
	header #trigger{
		display: block;
	}
	#logo{
		margin-top:30px;
		padding-bottom:20px;
	}
	header #searchdiv{
		position: absolute;
		top: -74px;
		right: 0;
		float: right;
		color:#FFF;
		margin: 0;
		padding: 10px 0 30px;
		font-size: 30px;
	}
	header #searchform:after{right:100px;}
    header #searchform{padding:8px;}
    header #searchdiv.active{width:100%;}
    header #searchicon{
		position:absolute;
		top:-80px;
		right:90px;
	}
	#certificate h1{font-size:40px;}
}

@media (max-width: 440px) {

	#buddypress div.item-list-tabs#subnav ul li.last{
		clear:both;
	}
	#buddypress #groups-directory-form div.item-list-tabs ul li, #buddypress #course-directory-form div.item-list-tabs ul li, #buddypress #members-directory-form div.item-list-tabs ul li{
		width:100%;
	}
	.unit_prevnext{height:85px;}
	#buddypress #groups-dir-list ul.item-list li div.item-title{
		text-align: right;
	}
	#buddypress ul#groups-list li div.item-title a{
		display: inline;
	}
	#buddypress div.pagination .pagination-links{
		margin-top:10px;
	}
}
