@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);

body {
    color: #9ea7b3;
    font-family:"Open Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 20px;
    min-height: 100%;
    margin: 0px;
    background: url('images/bg-1.jpg') no-repeat top center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
}

li{
    list-style-type: none;
}

.menu {
    position: absolute;
    top: 20px;
    width: 250px;
    z-index: 1000;
    height: auto;
}

.main_content {
    width: auto;
    margin-left: 250px;
}

.main_content2 {
    background: #fff;
    padding: 10px;
}

.main_content2::before {
    content: "";
    position: absolute;
    border-width: 0px 42px 42px 0px;
    border-style: solid;
    border-color: #FFF rgba(0, 0, 0, 0.5);
    margin: -10px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4), 0px 0px 10px rgba(0, 0, 0, 0.3);
    transform: rotate(-90deg);
}

.header {
    height: 65px;
}

.topbar_menu {
    padding: 0px;
    float: left;
    margin-top: 20px;
}

.topbar_menu li{
    display: inline;
    color: #ddd;
    font-size: 19px;
    padding-right: 30px;
}

.topbar_menu li:hover {
    color: #fff;
}

.info_block {
    background: rgba(0, 0, 0, 0.2) none repeat scroll 0px 0px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1);
    color: #FFF;
    margin-top: 15px;
    margin-left: 160px;
    position: absolute;
    padding: 5px;
}

.login_block {
    float: right;
}

