body{
	padding: 0px;
	margin: 0px;
	font-family: "Open Sans",sans-serif;
}

hr{
	width: 100%;
	height: 0.5px;
	color: rgba(255, 255, 255, 0.4) ;
}

.clear{
	clear: both;
}

#fixed_block.default {
	position: absolute;
	width: 100%;
}

#fixed_block.fixed {
	position: fixed;
	width: 100%;
	margin-top: -10px;
	background: #FFF none repeat scroll 0% 0%;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4);
	z-index: 1000;
}

.top_bar{
	background: url("images/top_bg.jpeg") no-repeat scroll 50% 50%;
	padding-top: 100px;
}

.footer_bar {
	background: #333 none repeat scroll 0% 0%;
	width: 100%;
	height: 70px;
	padding-top: 55px;
	color: #fff;
}

.content{
	width: 1155px;
	margin-right: auto;
	margin-left: auto;
}

.conteiner-1{
	width: 25%;
	float: left;
}

.conteiner-2{
	width: 75%;
	float: left;
}

.conteiner-3{
	margin-left: 23%;
}

.my_avatar{
	border: 4px solid #FFF;
	border-radius: 4px;
	width: 250px;
	height: 250px;
	margin-bottom: -55px;
}

.my_info{
	padding: 5px 0 0 10px;
}

.my_info_name{
	font-size: 19px;
	font-weight: 600;
	color: #FFF;
	opacity: 0.9;
}

.my_info_data{
	padding: 0px;
	color: #FFF;
	font-size: 16px;
	margin-top: 8px;
	position: absolute;
	opacity: 0.7;
}

.my_info_status{
	color: #25F654;
	font-size: 13px;
	margin-top: 3px;
	position: absolute;
	margin-left: 9px;
}

.item_band{
	clear: both;
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	margin-top: 25px;
}

.menu_bar{
	width: 100%;
	height: 48px;
	background: #313B3D;
}

.dachboard_menu{
	list-style-type: none;
	padding-top: 11px;
}

.dachboard_menu li{
	display: inline; 
	color: rgba(255, 255, 255, 0.6);
	padding: 15px 20px;
	font-size: 13px;
	text-transform: uppercase;
}

.dachboard_menu li:hover{
	color: rgba(255, 255, 255, 1);
	background: #78C8CE;
}

.fixed_menu{
	list-style-type: none;
	float: right;
	color: #fff;
}

.fixed_menu2{
	list-style-type: none;
	float: right;
	color: #333;
	margin-top: 3px;
}

.fixed_menu li{
	display: inline; 
	padding: 15px 20px;
	font-size: 13px;
	text-transform: uppercase;
}

.anounce{
	clear: both;
	padding: 10px;
	color: #FFF;
	background: #78C8CE none repeat scroll 0% 0%;
	border-radius: 2px;
	display: block;
	width: 237px;
	font-size: 14px;
}

.logo{
	width: 50%;
	float: left;
	color: #fff;
	padding: 15px 0px;
	font-size: 16px;
	text-transform: uppercase;
}

.logo2{
	width: 50%;
	float: left;
	color: #333;
	padding: 15px 0px;
	font-size: 16px;
	text-transform: uppercase;
	margin-top: -10px;
}